In [21]:
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup as bs
from splinter import Browser

In [22]:
# Chromdriver path
!which chromedriver

/usr/local/bin/chromedriver

## Step 1 - Scraping

In [23]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [24]:
#Scrape the NASA Mars News Site
url_news = "https://mars.nasa.gov/news/"
browser.visit(url_news)

### NASA Mars News

In [25]:
#Use Beautiful soup to parse html
html = browser.html
soup = bs(html, 'lxml')

In [26]:
#get  latest News Title and Paragragh Text
title = soup.find('div', class_='content_title').get_text()
p_text = soup.find('div', class_='article_teaser_body').get_text()

print(title);
print(p_text);

Mars Helicopter to Fly on NASA’s Next Red Planet Rover Mission
NASA is adding a Mars helicopter to the agency’s next mission to the Red Planet, Mars 2020.

### JPL Mars Space Images - Featured Image

In [27]:
#Visit the url for JPL's Featured Space Image
url_jpl = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(url_jpl)
html_image = browser.html
soup_image = bs(html_image, 'lxml')

In [28]:
featured_image = soup_image.find('a', class_='fancybox')
featured_image_url = "https://www.jpl.nasa.gov/" + featured_image["data-fancybox-href"]
print(featured_image_url)

https://www.jpl.nasa.gov//spaceimages/images/mediumsize/PIA16192_ip.jpg

### Mars Weather

In [29]:
#Visit the Mars Weather twitter account 
browser = Browser('chrome', **executable_path, headless=False)
url_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(url_weather)
html_weather = browser.html
soup_weather = bs(html_weather, 'lxml')

In [30]:
mars_weather = soup_weather.find("p",class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").get_text()
print(mars_weather)

Sol 2047 (May 10, 2018), Sunny, high 3C/37F, low -71C/-95F, pressure at 7.33 hPa, daylight 05:22-17:20

### Mars Facts

In [31]:
mars_facts_df = pd.read_html('http://space-facts.com/mars/')
mars_facts_df

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [32]:
mars_data_df = pd.DataFrame(mars_facts_df[0])
mars_data_df.columns=['Mars', 'Facts']
mars_data_df = mars_data_df.set_index("Mars")
mars_data_df

                                              Facts
Mars
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [33]:
marsfacts = str(mars_data_df.to_html(index=False))
marsfacts

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th>Facts</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

### Mars Hemispheres

In [34]:
#Visit the USGS Astrogeology site
browser = Browser('chrome', **executable_path, headless=False)
url_hemispheres = "https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars"
browser.visit(url_hemispheres)
html = browser.html
soup = bs(html, 'lxml')
hemisphere_image_urls = []

In [35]:
for i in range (4):
    time.sleep(5)
    images = browser.find_by_tag('h3')
    images[i].click()
    html = browser.html
    soup = bs(html, 'lxml')
    part_url = soup.find("img", class_="wide-image")["src"]
    img_title = soup.find("h2",class_="title").text
    img_url = 'https://astrogeology.usgs.gov'+ part_url
    dictn={"title":img_title,"img_url":img_url}
    hemisphere_image_urls.append(dictn)
    browser.back()

In [36]:
hemisphere_image_urls

[{'img_url': 'https://astrogeology.usgs.gov/cache/images/cfa62af2557222a02478f1fcd781d445_cerberus_enhanced.tif_full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/3cdd1cbf5e0813bba925c9030d13b62e_schiaparelli_enhanced.tif_full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/ae209b4e408bb6c3e67b6af38168cf28_syrtis_major_enhanced.tif_full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://astrogeology.usgs.gov/cache/images/7cf2da4bf549ed01c17f206327be4db7_valles_marineris_enhanced.tif_full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]